<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>show_id</th>
      <th>type</th>
      <th>title</th>
      <th>director</th>
      <th>cast</th>
      <th>country</th>
      <th>date_added</th>
      <th>release_year</th>
      <th>rating</th>
      <th>duration</th>
      <th>listed_in</th>
      <th>description</th>
      <th>year_added</th>
      <th>duration_num</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4742</th>
      <td>70297144</td>
      <td>TV Show</td>
      <td>Reply 1997</td>
      <td>Shin Won-ho</td>
      <td>Jung Eun-ji, Seo In-guk, Shin So-yul, Ji-won Eun, Lee Ho-won, Lee Si-eon, Sung Dong-il, Lee Il-hwa, Song Jong-ho</td>
      <td>South Korea</td>
      <td>2019-08-08</td>
      <td>2012</td>
      <td>TV-14</td>
      <td>1 Season</td>
      <td>International TV Shows, Korean TV Shows, Romantic TV Shows</td>
      <td>As a teen, Shi Won was obsessed with a boy band. Now 33 years old, Shi Won and her friends are reviving their memories as their school reunion nears.</td>
      <td>2019</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3552</th>
      <td>80188351</td>
      <td>TV Show</td>
      <td>Reply 1988</td>
      <td>NaN</td>
      <td>Lee Hye-ri, Park Bo-gum, Ryu Jun-yeol, Ko Kyoung-pyo, Lee Dong-hwi, Ryu Hye-young, Sung Dong-il, Lee Il-hwa</td>
      <td>South Korea</td>
      <td>2020-01-01</td>
      <td>2015</td>
      <td>TV-14</td>
      <td>1 Season</td>
      <td>International TV Shows, Korean TV Shows, Romantic TV Shows</td>
      <td>Take a nostalgic trip back to the late 1980s through the lives of five families and their five teenage kids living in a small neighborhood in Seoul.</td>
      <td>2020</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5941</th>
      <td>81026700</td>
      <td>TV Show</td>
      <td>My First First Love</td>
      <td>NaN</td>
      <td>Ji Soo, Jung Chae-yeon, Jinyoung, Choi Ri, Kang Tae-oh, Hong Ji-yoon</td>
      <td>South Korea</td>
      <td>2019-07-26</td>
      <td>2019</td>
      <td>TV-PG</td>
      <td>2 Seasons</td>
      <td>International TV Shows, Korean TV Shows, Romantic TV Shows</td>
      <td>Due to various personal reasons, a group of Yun Tae-o’s friends move into his house, where they experience love, friendship, and everything in between.</td>
      <td>2019</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2770</th>
      <td>80991107</td>
      <td>TV Show</td>
      <td>Mr. Sunshine</td>
      <td>Lee Eung-bok</td>
      <td>Lee Byung-hun, Kim Tae-ri, Yoo Yeon-seok, Kim Min-jung, Byun Yo-han</td>
      <td>South Korea</td>
      <td>2018-07-08</td>
      <td>2018</td>
      <td>TV-MA</td>
      <td>1 Season</td>
      <td>International TV Shows, Korean TV Shows, Romantic TV Shows</td>
      <td>A young boy who ends up in the U.S. after the 1871 Shinmiyangyo incident returns to Korea at a historical turning point and falls for a noblewoman.</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6093</th>
      <td>80128686</td>
      <td>TV Show</td>
      <td>Hello, My Twenties!</td>
      <td>NaN</td>
      <td>Ye-ri Han, Seung-Yeon Han, Eun-bin Park, Hwa-young Ryu, Hye-soo Park</td>
      <td>South Korea</td>
      <td>2017-12-18</td>
      <td>2017</td>
      <td>TV-14</td>
      <td>2 Seasons</td>
      <td>International TV Shows, Korean TV Shows, Romantic TV Shows</td>
      <td>With different personalities, life goals and taste in men, five female college students become housemates in a shared residence called Belle Epoque.</td>
      <td>2017</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3918</th>
      <td>80154508</td>
      <td>TV Show</td>
      <td>Love for Ten: Generation of Youth</td>
      <td>NaN</td>
      <td>Sung-yeol Lee, Ji-hyun Nam, Clara Lee, Jin Won</td>
      <td>South Korea</td>
      <td>2017-02-17</td>
      <td>2013</td>
      <td>TV-14</td>
      <td>1 Season</td>
      <td>International TV Shows, Korean TV Shows, Romantic TV Shows</td>
      <td>A nerdy engineering student falls for a pretty, outgoing girl at his college. To get closer to her, he joins the theater group she belongs to.</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>474</th>
      <td>81166978</td>
      <td>TV Show</td>
      <td>Bring It On, Ghost</td>
      <td>Park Joon-hwa</td>
      <td>Taecyeon, Kim So-hyun, Kwon Yul, Kim Sang-ho, Kang Ki-young, Lee Da-wit, Kim Min-sang, Yun Seo-hyun</td>
      <td>South Korea</td>
      <td>2019-10-30</td>
      <td>2016</td>
      <td>TV-14</td>
      <td>1 Season</td>
      <td>International TV Shows, Korean TV Shows, Romantic TV Shows</td>
      <td>A college student with psychic abilities takes in an amnesiac ghost as his roommate – who ends up helping him hunt down spooky spirits.</td>
      <td>2019</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3292</th>
      <td>80180171</td>
      <td>TV Show</td>
      <td>Kingdom</td>
      <td>Kim Seong-hun</td>
      <td>Ju Ji-hoon, Ryu Seung-ryong, Bae Doona, Kim Sang-ho, Kim Sung-kyu, Jeon Seok-ho, Kim Hye-jun, Heo Jun-ho, Jung Suk-won, Kim Jong-soo</td>
      <td>South Korea, United States</td>
      <td>2019-01-25</td>
      <td>2019</td>
      <td>TV-MA</td>
      <td>1 Season</td>
      <td>International TV Shows, Korean TV Shows, TV Action &amp; Adventure</td>
      <td>While strange rumors about their ill king grip a kingdom, the crown prince becomes their only hope against a mysterious plague overtaking the land.</td>
      <td>2019</td>
      <td>1</td>
    </tr>
    <tr>
      <th>787</th>
      <td>81166946</td>
      <td>TV Show</td>
      <td>Cheese in the Trap</td>
      <td>Lee Yoon-jung</td>
      <td>Park Hae-Jin, Kim Go-eun, Seo Kang-jun, Lee Sung-kyoung, Nam Joo-hyuk, Park Min-ji, Hwang Seog-jeong, Son Byung-ho, Ahn Kil-kang</td>
      <td>South Korea</td>
      <td>2019-10-01</td>
      <td>2016</td>
      <td>TV-14</td>
      <td>1 Season</td>
      <td>International TV Shows, Korean TV Shows, Romantic TV Shows</td>
      <td>In this adaptation of a popular webtoon, a poor student trying to navigate college life gains the attention of a wealthy upperclassman with a dark side.</td>
      <td>2019</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1270</th>
      <td>81033650</td>
      <td>TV Show</td>
      <td>Inheritors</td>
      <td>NaN</td>
      <td>Lee Min-ho, Park Shin-hye, Kim Woo-bin, Krystal Jung, Kim Ji-won, Choi Jin-hyuk, Kang Ha-neul, Kim Sung-ryoung, Kim Mee-kyeong, Yoon Jin-seo</td>
      <td>South Korea</td>
      <td>2019-11-15</td>
      <td>2013</td>
      <td>TV-14</td>
      <td>1 Season</td>
      <td>International TV Shows, Korean TV Shows, Romantic TV Shows</td>
      <td>After a chance encounter in LA, two teens from different social backgrounds reunite at an exclusive high school attended by Korea’s über rich.</td>
      <td>2019</td>
      <td>1</td>
    </tr>
  </tbody>
</table>